.App {
  text-align: center;
  overflow-y: hidden;
}
header {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}
.left-parts, .middle-parts, .right-parts {
  height: 100%;
  display: flex;
  flex-direction: row;
}
.left-parts, .right-parts {
  width: 12%;
  justify-content: space-between;
}
.middle-parts {
  width: 100%;
  justify-content:center;
}
.icons {
  height: 30px;
  width: 30px;
}
.youtube-logo {
  height: 40px;
  width: 90px;
}
.search-box {
  display: flex;
}
.search-button {
  height: 45px;
  width: 45px;
  background-color: aqua;
}
input {
  width:300px;
  height:35px;
}
.page-contents {
  background-color: bisque;
}
.page-info-wrapper {
  display: flex;
}
.side-bar-menu-wrapper {
  width: 25%;
  height: 100vh;
  text-align: left;
  padding: 20px;
  flex-direction: column;
  display: flex;
}