.App {
  height: 100vh;
  overflow-y: hidden;
  text-align: center;
  width: 100vw;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.left-parts, .middle-parts, .right-parts {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
}
.left-parts, .right-parts {
  justify-content: space-between;
  width: 12%;
}
.middle-parts {
  justify-content:center;
  width: 100%;
}
.icons {
  height: 30px;
  width: 30px;
}
.youtube-logo {
  height: 40px;
  width: 90px;
}
.search-box {
  display: flex;
}
.search-button {
  background-color: aqua;
}
.profile-photo {
  background-color: pink;
  border-radius: 50%;
  flex-basis: fit-content;
  padding: 10px;
}
input {
  height:35px;
  width:500px;
}

.page-contents-wrapper {
  background-color: palegreen;
  width: 100%;
}
.page-info-wrapper {
  display: flex;
}
.side-bar-menu-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  text-align: left;
  width: 25%;
}
.profile-pic {
  background-color: red;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
.profile-name {
  align-items: start;
  border-left: 10px solid white;
  display: flex;
  flex-direction: column;
}
.profile-name h1 {
  line-height: 0px;

}
.channel-username-topstuff-leftside {
  display: flex;
  flex-direction: row;
}
.channel-username-topstuff-rightside {
  align-items: center;
  align-self: flex-start;
  display: flex;
  flex-direction: row;
}
.subscribe-button {
  align-items: center;
  background-color: red;
  border-right: 15px solid white;
  display: flex;
  height: 10px;
  padding: 20px;
}
.subscribe-button p {
  color: white;
}
.channel-username-topstuff {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.channel-username {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  height:250px;
  justify-content: space-between;
  padding: 40px 40px 0px;
}
br {
  color: black;
}
.notification-bell {
  height: 70px;
  width: 40px;
}
.side-bar-menu-option:hover {
  background-color: grey;
}
.side-bar-menu-option {
  padding: 2.5px;

}
.channel-header {
  background-color: pink;
  height: 200px;
  padding: 20px;
}
.video-section {
  background-color: #f1f1f1;
  height: 100%;
}
.left-channel-nav {
  display: flex;
  flex-basis: 75%;
  justify-content: space-around;
}
.channel-username-bottomstuff {
  display: flex;
  flex-direction: row;
  place-content: space-between;
  width: inherit;
}
.right-channel-nav {
  display: flex;
}